In [93]:
tu = (23, 'abc', 4.56, (2,3), 'def')
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [94]:
li = ["abc", 34, 4.34, 23]
print(li)

['abc', 34, 4.34, 23]

In [95]:
st = "Hello World"
st2 = 'Hello World'
st3 = """This is a multi-line string that uses triple quotes."""
print(st)
print(st2)
print(st3)

Hello World
Hello World
This is a multi-line string that uses triple quotes.

In [96]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1]     
# Second item in the tuple
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [97]:
li = ["abc", 34, 4.34, 23]
li[1]     
# Second item in the list
print(li)

['abc', 34, 4.34, 23]

In [98]:
st = "Hello World"
st[1]   
# Second character in string.
print(st)

Hello World

In [99]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[-3]     
# Second item in the tuple
print(t)

(23, 'abc', 4.56, (2, 3), 'def')

In [100]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1]     
# Second item in the tuple
print(t)

(23, 'abc', 4.56, (2, 3), 'def')

In [101]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:-1:2]  
# Second item in the tuple
print(t)

(23, 'abc', 4.56, (2, 3), 'def')

In [102]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]     
# Second item in the tuple
print(t)

(23, 'abc', 4.56, (2, 3), 'def')

In [103]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[2:]     
# Second item in the tuple
print(t)

(23, 'abc', 4.56, (2, 3), 'def')

In [104]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:]     
# Second item in the tuple
print(t)

(23, 'abc', 4.56, (2, 3), 'def')

In [105]:
t = [1, 2, 4, 5]
3 in t

False

In [106]:
t = [1, 2, 4, 5]
4 in t

True

In [107]:
t = [1, 2, 4, 5]
4 not in t

False

In [108]:
a = 'abcde'
'c' in a

True

In [109]:
a = 'abcde'
'cd' in a

True

In [110]:
a = 'abcde'
'ac' in a

False

In [111]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [112]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [113]:
"Hello" + " " + "World"

'Hello World'